<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Chi tiết sản phẩm</a>
    </div>
  </nav>
  <div class="container" id="main">
    <div
      class="row justify-content-center align-items-center mt-4"
      id="container-form"
    >
      <div class="col-lg-6 col-lg-offset-4">
        <form method="post" action="" enctype="multipart/form-data">
          <div class="form-group row mb-3">
            <label for="id" class="col-sm-3 col-form-label">Mã sản phẩm</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="id"
                disabled
                name="idsp"
                value="AUTO"
                ng-model="product.id"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="input-name" class="col-sm-3 col-form-label"
              >Tên sản phẩm</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                disabled
                class="form-control"
                id="input-name"
                placeholder="Tên sản phẩm"
                name="tensp"
                ng-model="product.ten_sp"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="input-loai" class="col-sm-3 col-form-label">Loại</label>
            <div class="col-sm-3">
              <select
                class="form-control"
                disabled
                id="input-loai"
                name="loai"
                ng-model="product.ma_dm"
              >
                <option value="">Chọn danh mục</option>
                <option ng-repeat="dm in danhmuc" value="{{dm.id}}">
                  {{dm.ten_dm}}
                </option>
              </select>
            </div>

            <label
              for="input-gia"
              class="col-sm-3 col-form-label"
              style="text-align: right"
              >Giá</label
            >
            <div class="col-sm-3">
              <input
                min="1"
                type="number"
                disabled
                class="form-control"
                id="input-gia"
                placeholder="Giá"
                name="gia"
                ng-model="product.gia"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label" for="image">Ảnh</label>
            <div
              class="col-sm-9 ratio ratio-1x1 ms-2"
              style="width: 200px; height: 200px"
            >
              <img
                src="../assets/img/uploads/sanpham/{{product.anhsp}}"
                alt=""
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="input-mota" class="col-sm-3 col-form-label"
              >Mô tả</label
            >
            <div class="col-sm-9">
              <textarea
                name="mota"
                class="form-control"
                disabled
                id="input-mota"
                cols="30"
                rows="5"
                placeholder="Mô tả"
                ng-model="product.mota"
              ></textarea>
            </div>
          </div>
          <a href="#!list-sp" class="btn btn-primary" name="danhsach"
            >Danh sách</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
