<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Danh sách sản phẩm</a>
    </div>
  </nav>
  <form action="" method="post">
    <div class="container" style="max-width: 90%">
      <div class="row mb10 mt-2">
        <a href="#!create-sp" class="col-auto">
          <input class="btn btn-primary mr20" type="button" value="NHẬP THÊM"
        /></a>
      </div>
      <table class="table table-striped table-hover mt-2">
        <thead class="border-bottom border-black">
          <tr>
            <th scope="col">Mã</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Tên</th>
            <th scope="col">Loại</th>
            <th scope="col">Giá</th>
            <th scope="col">Ngày thêm</th>
            <th scope="col">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sp in products">
            <td>{{sp.id}}</td>
            <td>
              <img
                src="../assets/img/uploads/sanpham/{{sp.anhsp}}"
                style="border: 1px solid gray"
                alt="Hình ảnh sản phẩm"
                width="75"
              />
            </td>
            <td>{{sp.ten_sp}}</td>
            <td ng-repeat="dm in danhmuc" ng-if="dm.id == sp.ma_dm">
              {{dm.ten_dm}}
            </td>
            <td>{{sp.gia}}</td>
            <td>{{sp.ngay_nhap}}</td>
            <td class="text-nowrap">
              <a href="#!detail-sp/{{sp.id}}" class="btn btn-secondary">
                Chi tiết
              </a>
              <a href="#!edit-sp/{{sp.id}}" class="btn btn-warning"> Sửa </a>
              <a href="#" class="btn btn-danger" ng-click="deleteSP(sp.id)">
                Xóa
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
