<!-- Page Content Holder -->
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Chỉnh sửa trạng thái đơn hàng</a>
    </div>
  </nav>
  <div class="tab-content">
    <div class="tab-pane active" id="">
      &nbsp;
      <div class="container col-8 m-auto">
        <form method="post" action="">
          <div class="form-group row mb-3">
            <label for="id" class="col-sm-3 col-form-label">Mã đơn hàng</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="id"
                disabled
                name="madh"
                ng-model="donhang.id"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="input-loai" class="col-sm-3 col-form-label"
              >Trạng thái đơn hàng</label
            >
            <div class="col-sm-3">
              <select
                class="form-control"
                id="input-loai"
                name="ma_ttdh"
                ng-model="donhang.ma_ttdh"
              >
                <option ng-repeat="tt in ttdh" value="{{tt.id}}">
                  {{tt.mota}}
                </option>
              </select>
            </div>
          </div>

          <div>
            <div
              class="btn btn-primary"
              id="submit-btn"
              ng-click="editDH()"
              name="submit"
            >
              Cập nhật
            </div>
            <a href="#!list-dh" class="btn btn-primary" name="danhsach"
              >Danh sách đơn hàng</a
            >
          </div>

          <div ng-if="formValid" class="text-danger">{{formValidMessage}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
